.pokeCardContainer {
    width: 150px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
    margin: 10px;
    background-color: var(--pokemon-3);
    overflow: hidden;
}

.pokeCardContainer:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 2px var(--pokemon-6);
}

.pokeCardContainer:active {
    transition-duration: 0ms;
    box-shadow: 0px 0px 10px 0px var(--pokemon-6);
}

.pokeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.cardLower {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.name {
    font-weight: 700;
}

.cardLower label {
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
}

.cardLower li {
    list-style: none;
    margin-left: none;
    text-align:left;
    font-weight: 300;
    font-size: 12px;
}

.allCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 2000px;
}

@media only screen and (max-width: 975px){
    .pokeCardContainer {
        width: 100px;
        height: 150px;
    }

    .profilePic {
        width: 80px;
        height:80px;
    }
}

@media only screen and (min-width: 976px) and (max-width: 1150px){
    .pokeCardContainer {
        width: 150px;
        height: 200px;
    }
    
    .profilePic {
        width: 120px;
        height:120px;
    }
}

@media only screen and (min-width: 1151px) and (max-width: 1400px){
    .pokeCardContainer {
        width: 200px;
        height: 250px;
    }

    .profilePic {
        width: 150px;
        height:150px;
    }
}

@media only screen and (min-width: 1401px) {
    .pokeCardContainer {
        width: 250px;
        height: 300px;
    }

    .profilePic {
        width: 200px;
        height: 200px;
    }
}