.mainContainer {
    display: flex;
    min-height: 100vh;
}

main {
    margin: 10px;
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
    .mainContainer {
        flex-direction: column;
    }
}