:root {
    --pokemon-1: #1C3059;
    --pokemon-2: #3F61A6;
    --pokemon-3: #F2B705;
    --pokemon-4: #BF9106;
    --pokemon-5: #F2F2F2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--pokemon-5);
}